@import '../../../assets/styles/variables.scss';

.FormSearch {
  background: $grey-1;
  padding: $primarySpacing;
  label{
    font-family: 'CalibreMedium';
  }
  .formRow{
    margin-bottom: $secondarySpacing;
  }
  .tripType{
    display: flex;
    flex-direction: row;
    justify-content: center;
    div{
      flex-basis: 50%;
    }
  }
  .passengers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .passengersType{
      flex-basis: 33.33%;
    }
  }
}