$primaryColor: #1ABC9C;
$primaryColorContrast: white;
$secondaryColor: #2D8ABD;
$secondaryColorContrast: white;
$tertiaryColor: #D8DCDE;
$tertiaryColorContrast: #999999;

$primarySpacing: 10px;
$secondarySpacing: 5px;
$tertiarySpacing: 3px;

$viewport-xs-breakpoint: 576px;
$viewport-sm-breakpoint: 768px;
$viewport-lg-breakpoint: 992px;
$viewport-xl-breakpoint: 1200px;